body { background: #87e4b3; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 53px; display: flex; }
.block-email-0 { color: #f60b7e; font-size: 15px; margin-bottom: 5px; }
.block-shipping-1 { color: #d33b56; font-size: 13px; margin-bottom: 5px; }
.block-token-2 { color: #7a6d87; font-size: 19px; margin-bottom: 5px; }
.block-cart-3 { color: #4d6fab; font-size: 17px; margin-bottom: 5px; }
.block-notify-4 { color: #cb527e; font-size: 16px; margin-bottom: 5px; }
.block-config-5 { color: #f38b23; font-size: 19px; margin-bottom: 5px; }